/* Code Quiz - Javascript*/
/*Modified by Charissa Hollister 05/04/2022*/
/***************************** */

/* Overall */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*variables*/

:root {
  --primary-color: #e56fea;
  --secondary-color: ivory;
  --bg-color: #2a607c;
  --bg-color2: #0076c6;
  --padding: 20px;
  --blur: 10px;
}

/*general selectors*/

.purplePink {
  border-radius: 5px;
  color: white;
  background-color: rgb(47, 11, 140);
  padding: 0 25px;
  margin: 10px 15vw;
}

.purplePinkBtn {
  border-radius: 5px;
  color: white;
  background-color: rgb(47, 11, 140);
  padding: 0 25px;
  margin: 10px 15vw;
  text-align: center;
}

.purplePinkBtn:hover {
  background-color: rgb(122, 69, 134);
}

/*--headline with quicklinks*/
header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--secondary-color);
  z-index: 9999;
}

/*HighScores*/
.leftHeader {
  color: rgb(122, 69, 134);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.leftHeader:hover {
  color: rgb(47, 11, 140);
  background: lightsalmon;
  text-shadow: 0 0 10px;
}

/*time*/
.rightHeader {
  color: black;
}

.submitBtn, .submitScoreBtnArea, .goBackArea{
  padding-top:25px;
}

.scoreYours{
  margin-top: 25px}
  
/*all of main sections*/
main {
  width: 60vw;
  margin-left: 20vw;
}

#titleBlock {
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
}

.summary {
  font-size: 16px;
  padding: 20px 10vw;
}

.initialsArea, #endSummary{
  display: inline-block;
  justify-content: center;
}
#scoreTitle{
  font-size: 16px;
  font-weight:bold;
}

.scores {
  text-align: left;
  margin-left: 18vw;
  width: 25vw;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
  color: black;
}

/*subsection unique attributes*/
.answers{
    display: flex;
}

/*//// figure out how to move radios to the right next to h3s*/
.answerArea input{
padding-left: 20vw;
}

/*user enters initials at the end*/
.initials {
  font-size: 20px;
  font-weight:bold;
}
.initials::before {
  color: lightslategray;
  font-style: italic;
}
.initials::after {
  color: black;
}

/*footer*/
footer{
  padding: 20px;
  width: 60vw;
  margin-left: 20vw;
    text-align: center;
    font-size: 30px;
  color: grey;
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {

main {
  width: 90vw;
  margin-left: 5vw;
}

#titleBlock {
  text-align: center;
  font-size: 25px;
}
.summary {
  font-size: 12px;
  padding: 20px 0;
}
header {
  padding: 15px 10px;
  display: inline-block;
}
.header a{
  font-size: 14px;
  padding: 15px;
  padding-left: 30px;
}
.initials, #scoreTitle {
  font-size: 14px;
}
.answerArea{
  font-size: 10px;
}
.scores {
  margin-left: 15vw;
  width: 60vw;
}
.initialsArea, #endSummary{
  display: block;
}
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 550px) {
} */
