/* Code Quiz - Javascript*/
/*Modified by Charissa Hollister 05/04/2022*/
/***************************** */

/* Overall */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/*variables*/

:root {
  --primary-color: #e56fea;
  --secondary-color: ivory;
  --bg-color: #2a607c;
  --bg-color2: #0076c6;
  --padding: 20px;
  --blur: 10px;
}

/*general selectors*/
.left-align {
  justify-content: left;
}

.purplePink {
  border-radius: 5px;
  color: white;
  background-color: rgb(47, 11, 140);
  padding: 0 25px;
  margin: 10px 15vw;
}

.purplePinkBtn {
  border-radius: 5px;
  color: white;
  background-color: rgb(47, 11, 140);
  padding: 0 25px;
  margin: 10px 15vw;
  text-align: center;
}

.purplePinkBtn:hover {
  background-color: rgb(122, 69, 134);
}

/*--headline with quicklinks*/
header {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  color: var(--secondary-color);
  z-index: 9999;
}

/*HighScores*/
.leftHeader {
  color: rgb(122, 69, 134);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

.leftHeader:hover {
  color: rgb(47, 11, 140);
  background: lightsalmon;
  text-shadow: 0 0 10px;
}

/*time*/
.rightHeader {
  color: black;
}
/*countDown*/
.rightHeader span {
  color: black;
}

/*all of main sections*/
main {
  width: 60vw;
  margin-left: 20vw;
}

/*////figure out how to center start, submit, etc buttons*/
.buttons{

}

#titleBlock {
  text-align: center;
  font-size: 40px;
  padding: 20px 0;
}

.summary {
  font-size: 16px;
  padding: 30px;
}

.scores {
  text-align: left;
  margin-left: 18vw;
  width: 25vw;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgray;
}

/*subsection unique attributes*/
.answers{
    display: flex;
}

/*//// figure out how to move radios to the right next to h3s*/
.answerArea input{
padding-left: 20vw;
}

/*user enters initials at the end*/
.initials {
  font-size: 20px;
}
.initials::before {
  color: lightslategray;
}
.initials::after {
  color: black;
}

/*footer*/
footer{
  border-top: solid darkgray 5 pt;
  padding: 20px;
  width: 60vw;
  margin-left: 20vw;
    text-align: center;
    font-size: 30px;
  color: grey;
}


/*high scores specific*/
.backBtn,
.clearBtn {
}


/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
@media screen and (max-width: 980px) {
}

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
@media screen and (max-width: 550px) {
}
